<div class="container">
  <div class="registerImageContainer">
    <div class="registerContent">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Form di Registrazione</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="outline">
              <mat-label>Username</mat-label>
              <input matInput formControlName="username" required>
              <mat-error *ngIf="registerForm.get('username')?.hasError('required')">
                Username è obbligatorio
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input matInput type="password" formControlName="password" required>
              <mat-error *ngIf="registerForm.get('password')?.hasError('required')">
                Password è obbligatoria
              </mat-error>
            </mat-form-field>
            <div class="button-row">
              <button mat-raised-button color="primary" type="submit"
                [disabled]="registerForm.invalid">Registrati</button>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
