@use '@angular/material' as mat;

// Definisci le tue palette di colori
$custom-primary: mat.define-palette(mat.$cyan-palette, 700);
$custom-accent: mat.define-palette(mat.$amber-palette, A200, A100, A400);
$custom-warn: mat.define-palette(mat.$deep-orange-palette);

// Definisci la configurazione della tipografia (opzionale)
$custom-typography: mat.define-typography-config();

// Crea il tema
$custom-theme: mat.define-light-theme((
  color: (
    primary: $custom-primary,
    accent: $custom-accent,
    warn: $custom-warn,
  ),
  typography: $custom-typography,
));



// Includi i temi di tutti i componenti
@include mat.all-component-themes($custom-theme);

// Sovrascritture specifiche per componenti
// Cambia il colore del testo dei mat-button
.mat-button, .mat-flat-button, .mat-icon-button, .mat-stroked-button {
  color: mat.get-color-from-palette($custom-primary, 500); // Cambia a tuo piacimento

  &:hover {
    color: mat.get-color-from-palette($custom-accent, 400); // Cambia a tuo piacimento
  }
}

